<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Simple HTML</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body class="light-theme">
  <div ng-app="myApp" ng-controller="myCtrl as c">
    <p>Name : <input type="text" ng-model="name"></p>
    <h1>Hello {{c.testName}} and {{name}}</h1>
    <h1>{{firstName + ' ' + lastName}}</h1>
    <my-html-directive></my-html-directive>    
    <br>
    <span>{{c.verbiage}}</span>
    <br>
    {{c.priceMatrix}}
    <br> <br>
    <span>c.priceMatrixCount: {{c.priceMatrix.length}}</span><br>
    <span>c.priceMatrixObjectCount: {{Object.keys(c.priceMatrixObj)}}</span><br>
    <span>priceMatrixObj2: {{c.priceMatrixObj2}}</span><br>
    <span>priceMatrixObj2: {{Object.keys(c.priceMatrixObj2).length}} </span>

    <ul>
      <li ng-repeat="person in people">
        <label>
            {{person.name}}
            <input type="radio" ng-model="myObj.person" name="sameName" ng-value="person" />
        </label>
      </li>
    </ul>

    <div>Radio Demo</div>
    Selected radio is {{c.selectedContact}}
    <div ng-repeat="phone in c.phones">
      {{phone}}
      <input type="radio" name="{{phone.type}}" value="{{phone.value}}" ng-model="c.selectedContact"/>
      <label>{{phone.value}}</label>
    </div>
    <span class="buttons-flex">
      <button name="Continue">Continue</button>
      <button name="Cancel">Cancel</button>      
    </span>
  <div>
      <span>Test Span Text: Hello {{c.testName}}</span>
    </div>
  <div>
    <!-- Angular app ends-->
  </div>
  <br/>
    <div class="square">test sq</div>
    <h1>Task List</h1>
    <p id="msg">Current tasks:</p>
    <ul>
      <li class="list">Add visual styles</li>
      <li class="list">Add light and dark themes</li>
      <li>Enable switching the theme</li>
    </ul>
    <div>
      <button class="btn">Dark</button>
    </div>
  </div>
  <script src="app.js"></script>
  <noscript>You need to enable JavaScript to view the full site.</noscript>
</body>

</html>